{% extends "base.html" %}
{% load static %}


{% block tabs %}
                <li ><a href="/">Home</a></li>
                <li ><a href="{% url 'Downloads' %}">Download</a></li>
                <li class="active"> <a href="{% url 'About' %}">About</a></li>
{% endblock %}


{% block js %}

{% endblock %}


{% block content %}

<div>

<style>
    * {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  {#background-color: #f1f1f1;#}
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  {#background-color: #f1f1f1;#}
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
</style>


    <h1 class="page-header">About miRATBase</h1>
{#    <h2 class="sub-header">Search</h2>#}
                            <div class="row">
                                <div class="col-lg-10">
                                    <p>
                                        miRATBase is a database to collect standardized positive and negative miRNA targets
                                        identified using HiTmIR.</p>

                                     <p>   This resource represents a collection of data for training and benchmarking of new
                                         miRNA target predictors.</p>

                                    <p>  This tool was develop by the <a href="https://www.ccb.uni-saarland.de/">Chair for Clinical Bioinformatics at Saarland University.</a>

                                    </p>

                                        <br>
                </div>
                                </div>

                            </div>
                            <hr>


    </div>


{% endblock %}

