{% extends "base.html" %}
{% load static %}


{% block tabs %}
                <li ><a href="/">Home</a></li>
                <li><a href="download">Download</a></li>
                <li> <a href="about">About</a></li>
{% endblock %}


{% block js %}

    <script>
    var received_data = {{ tbody|safe }};
    var received_cols = {{ headers|safe }}

    $(document).ready(function() {

        var table = $('#query_table').DataTable({

//        'responsive': true,
            data: received_data,
//        processing: true,
//        serverSide: true,
//        deferRender: false,
            'language': {
                "loadingRecords": "&nbsp;",
                "processing": "Loading..."
            },
            columns: received_cols,
        });

    });

</script>

    <script>

    function popMir(mirna) {

      $("#mirna_modal").modal('show');

         $.ajax({
        url: '{% url "ajax_mirna" %}',
        data: {
            "mirna" : mirna,

        },
        dataType: 'json',
        success: function (data) {
            {#alert(data.mirbase);#}
            $("#mirbase_link").attr("href", data.mirbase);
            $("#mirgenedb_link").attr("href", data.mirgenedb);
            $("#mircarta_link").attr("href", data.mircarta);


        }
      });
    }

    </script>

    <script>

    function popMirTar(mirna,gene) {

      $("#mirtar_modal").modal('show');

         $.ajax({
        url: '{% url "ajax_mirtar" %}',
        data: {
            "mirna" : mirna,
            "gene" : gene,

        },
        dataType: 'json',
        success: function (data) {
            {#alert(data.mirbase);#}

            $("#mirtar_title").text('Search ' + mirna +" and " + gene + ' on miRTarBase');
            $("#mirna_link").attr("href", data.mirna);
            $("#gene_link").attr("href", data.gene);
            $("#both_link").attr("href", data.both);

        }
      });
    }

    </script>

{% endblock %}


{% block content %}

<div>

<style>
    * {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  {#background-color: #f1f1f1;#}
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  {#background-color: #f1f1f1;#}
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
</style>


    <h1 class="page-header">miRATBase: validated targets and target pathways of miRNAs</h1>
    <h2 class="sub-header">Showing all {{ term }} in miRATBase</h2>
    <br>
                            <div class="row">

                                <div class="col-lg-8">

                                <ul>
                                    {% for e in entry_list %}

                                    <li><a href="{% url 'search' %}?search_term={{ e }}">{{ e }}</a></li>
                                    {% endfor %}
                                </ul>
                                    {% include "modals/modal_mirna.html" %}
                                {% include "modals/modal_mirtarbase.html" %}
                                </div>
    </div>





{% endblock %}

