{% extends "base.html" %}
{% load static %}


{% block tabs %}
                <li class="active"><a href="/">Home</a></li>
                <li><a href="download">Download</a></li>
                <li> <a href="about">About</a></li>
{% endblock %}


{% block js %}
    <script>
function autocomplete(inp, arr) {
  /*the autocomplete function takes two arguments,
  the text field element and an array of possible autocompleted values:*/
  var currentFocus;
  /*execute a function when someone writes in the text field:*/
  inp.addEventListener("input", function(e) {
      var a, b, i, val = this.value;
      /*close any already open lists of autocompleted values*/
      closeAllLists();
      if (!val) { return false;}
      currentFocus = -1;
      /*create a DIV element that will contain the items (values):*/
      a = document.createElement("DIV");
      a.setAttribute("id", this.id + "autocomplete-list");
      a.setAttribute("class", "autocomplete-items");
      /*append the DIV element as a child of the autocomplete container:*/
      this.parentNode.appendChild(a);
      /*for each item in the array...*/
      for (i = 0; i < arr.length; i++) {
        /*check if the item starts with the same letters as the text field value:*/
        {#if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {#}
        if (arr[i].toUpperCase().includes(val.toUpperCase())) {
          /*create a DIV element for each matching element:*/
          b = document.createElement("DIV");
          /*make the matching letters bold:*/
          b.innerHTML = arr[i].substr(0, val.length);
          {#console.log(val.length);#}
          {#console.log(val);#}

          b.innerHTML += arr[i].substr(val.length);
          /*insert a input field that will hold the current array item's value:*/
          b.innerHTML += '<input type="hidden" value="' + arr[i] + '">';
          {#b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";#}
          /*execute a function when someone clicks on the item value (DIV element):*/
          b.addEventListener("click", function(e) {
              /*insert the value for the autocomplete text field:*/

              inp.value = this.getElementsByTagName("input")[0].value;
              console.log(inp.value);
              /*close the list of autocompleted values,
              (or any other open lists of autocompleted values:*/
              closeAllLists();
          });
          a.appendChild(b);
        }
      }
  });
  /*execute a function presses a key on the keyboard:*/
  inp.addEventListener("keydown", function(e) {
      var x = document.getElementById(this.id + "autocomplete-list");
      if (x) x = x.getElementsByTagName("div");
      if (e.keyCode == 40) {
        /*If the arrow DOWN key is pressed,
        increase the currentFocus variable:*/
        currentFocus++;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 38) { //up
        /*If the arrow UP key is pressed,
        decrease the currentFocus variable:*/
        currentFocus--;
        /*and and make the current item more visible:*/
        addActive(x);
      } else if (e.keyCode == 13) {
        /*If the ENTER key is pressed, prevent the form from being submitted,*/
        e.preventDefault();
        if (currentFocus > -1) {
          /*and simulate a click on the "active" item:*/
          if (x) x[currentFocus].click();
        }
      }
  });
  function addActive(x) {
    /*a function to classify an item as "active":*/
    if (!x) return false;
    /*start by removing the "active" class on all items:*/
    removeActive(x);
    if (currentFocus >= x.length) currentFocus = 0;
    if (currentFocus < 0) currentFocus = (x.length - 1);
    /*add class "autocomplete-active":*/
    x[currentFocus].classList.add("autocomplete-active");
  }
  function removeActive(x) {
    /*a function to remove the "active" class from all autocomplete items:*/
    for (var i = 0; i < x.length; i++) {
      x[i].classList.remove("autocomplete-active");
    }
  }
  function closeAllLists(elmnt) {
    /*close all autocomplete lists in the document,
    except the one passed as an argument:*/
    var x = document.getElementsByClassName("autocomplete-items");
    for (var i = 0; i < x.length; i++) {
      if (elmnt != x[i] && elmnt != inp) {
        x[i].parentNode.removeChild(x[i]);
      }
    }
  }
  /*execute a function when someone clicks in the document:*/
  document.addEventListener("click", function (e) {
      closeAllLists(e.target);
  });
}

/*An array containing all the country names in the world:*/

var search_arr = {{ search_list|safe  }} ;

/*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
autocomplete(document.getElementById("input_search"), search_arr);
</script>

    <script>

    function searchDB() {

        var search_url = "{% url 'search' %}?";

        {#$("#input_search").val();#}

        var pars = $("#input_search").serialize();
        $("#search_link").attr("href", search_url.concat(pars));
        $("#search_link").click();

    }

    </script>


{% endblock %}


{% block content %}

<div>

<style>
    * {
  box-sizing: border-box;
}

body {
  font: 16px Arial;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  {#background-color: #f1f1f1;#}
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  {#background-color: #f1f1f1;#}
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
</style>


    <h1 class="page-header">miRATBase: validated targets and target pathways of miRNAs</h1>
    <h2 class="sub-header">Search</h2>
                            <div class="row">
                                <div class="col-lg-8">
                                    <div style="background-color: #F5F5F5; padding: 10px">
        <p>Enter the name of a pathway, miRNA or miRNA target (gene):</p>
{#        <input id="overview-search" type="text" class="form-control typeahead quick-search" />#}
          <div class="autocomplete" style="width:60%;">
            <input id="input_search" name="search_term" type="text" >
            </div>

                  <a href="javascript:void(0)" id="search_link" > <input  onclick="searchDB();" type="submit"></a>



                                        <br>
                </div>
                                </div>

                            </div>
                            <hr>

                            <div class="row placeholders toolbar">
        <div class="col-md-4 placeholder">
            <div class="option">
                <a href="{% url 'all' %}?term=mirnas"><img  width="200" height="200" src="{% static "images/miRNA.png"  %}" /></a>
                <h4><a href="{% url 'all' %}?term=mirnas">miRNAs</a></h4>
                <p class="justified description">Explore all miRNAs available in the database.</p>
            </div>
        </div>
            <div class="col-md-4 placeholder">
            <div class="option">
                <a href="{% url 'all' %}?term=genes"><img  width="200" height="200" alt="Generic placeholder image" src="{% static "images/target_stock.png"  %}" /></a>
                <h4><a href="{% url 'all' %}?term=genes">Targets</a></h4>
                <p class="justified description">Explore all miRNAs targets available in the database.</p>
            </div>
        </div>
              <div class="col-md-4 placeholder">
            <div class="option">
                <a href="{% url 'all' %}?term=paths"><img  width="200" height="200" alt="Generic placeholder image" src="{% static "images/pathway.png"  %}" /></a>
                <h4><a href="{% url 'all' %}?term=paths">Pathways</a></h4>
                <p class="justified description">Explore all target pathways available in the database.</p>
            </div>
        </div>
                            </div>
    </div>


{% endblock %}

